{% extends 'Back/base.html.twig' %}

{% block title %}{{ 'channel.edit'|trans }}{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item">
        <a href="{{ path('channel_index') }}">{{ 'channel.name'|trans }}</a>
    </li>
{% endblock %}

{% block body %}

    {{ include('Back/channel/_form.html.twig' , {button_name: 'Mettre à jour' , icon: 'pen', class: 'info'}) }}

{% endblock %}
