{% extends 'Back/base.html.twig' %}

{% block body %}
    <h1>Create new channel</h1>

    {{ include('Back/channel/_form.html.twig') }}

    <a href="{{ path('channel_index') }}">back to list</a>
{% endblock %}
