{% extends 'Back/base.html.twig' %}

{% block body %}
    <h1>Ajouter une chaîne</h1>

    <hr>

    {{ include('Back/channel/_form.html.twig') }}

    <br>

    <a class="btn btn-secondary" href="{{ path('channel_index') }}">Retourner a la liste</a>
{% endblock %}
