
###> symfony/framework-bundle ###
/.env
/public/bundles/
/var/
/vendor/
/src/Migrations/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###
/public/back/vendor/
/public/back/node_modules/
/public/front/node_modules/
/public/front/vendor/