{% extends 'Back/base.html.twig' %}

{% block title %}Edit thread{% endblock %}

{% block body %}
    {{ include('Back/thread/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('thread_index') }}">back to list</a>

    {{ include('Back/thread/_delete_form.html.twig') }}
{% endblock %}
