{% extends 'Back/base.html.twig' %}

{% block title %}New thread{% endblock %}

{% block body %}
    <h1>Create new Thread</h1>

    {{ include('Back/thread/_form.html.twig') }}

    <a href="{{ path('thread_index') }}">back to list</a>
{% endblock %}
