{% extends 'Back/base.html.twig' %}

{% block title %}{{ 'category.edit'|trans }}{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item">
        <a href="{{ path('category_index') }}">{{ 'category.name'|trans }}</a>
    </li>
{% endblock %}

{% block body %}
    {{  include('Back/category/_form.html.twig' , {button_name: 'Mettre à jour' , icon: 'pen', class: 'info'}) }}
{% endblock %}
