{% extends 'Back/base.html.twig' %}

{% block title %}Edit Category{% endblock %}

{% block body %}
    <h1>Edit Category</h1>

    {{ include('Back/category/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('category_index') }}">{{ 'back_list'|trans }}</a>

    {{ include('Back/category/_delete_form.html.twig') }}
{% endblock %}
