{% extends 'Back/base.html.twig' %}

{% block title %}{{ 'category.add'|trans }}{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item">
        <a href="{{ path('category_index') }}">{{ 'category.name'|trans }}</a>
    </li>
{% endblock %}

{% block body %}
    {{  include('Back/category/_form.html.twig' , {button_name: 'Ajouter' , icon: 'plus', class: 'success'}) }}
{% endblock %}
