{% extends 'Back/base.html.twig' %}

{% block title %}{{ 'season.edit'|trans }}{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item">
        <a href="{{ path('season_index') }}">{{ 'season.name'|trans }}</a>
    </li>
{% endblock %}

{% block body %}
    {{ include('Back/season/_form.html.twig', {button_name: 'Mettre à jour' , icon: 'pen', class: 'info'}) }}
{% endblock %}
