{% extends 'Back/base.html.twig' %}

{% block title %}{{ 'club.add'|trans }}{% endblock %}
{% block style %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.css">
{% endblock %}
{% block breadcrumb %}
    <li class="breadcrumb-item">
        <a href="{{ path('club_index') }}">{{ 'club.name'|trans }}</a>
    </li>
{% endblock %}
{% block body %}

    {{ include('Back/club/_form.html.twig' , {button_name: 'Ajouter' , icon: 'plus', class: 'success'}) }}

{% endblock %}
{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.js"></script>
    <script>
        $(document).ready(function() {
            $('#club_teams').selectize();
        });
    </script>
{% endblock %}
