{% extends 'Back/base.html.twig' %}

{% block body %}
    <h1>Edit Game</h1>

    {{ include('Back/game/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('game_index') }}">back to list</a>

    {{ include('Back/game/_delete_form.html.twig') }}
{% endblock %}
