{% extends 'Back/base.html.twig' %}

{% block body %}
    <h1>Ajouter un match</h1>

    <hr>

    {{ include('Back/game/_form.html.twig') }}

    <br>

    <a class="btn btn-secondary" href="{{ path('game_index') }}">Retourner a la liste</a>
{% endblock %}
