<footer id="footer1" class="kode-parallax kode-dark-overlay kode-bg-pattern">
    <!--// Contact Footer //-->
    <div class="kode-bottom-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p>©2015 KickOff. All Right Reserved</p>
                </div>
                <div class="col-md-6">
                    <a href="#" id="kode-topbtn" class="thbg-colortwo"><i class="fa fa-angle-up"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>