<section class="kode-pagesection kode-next-match-section kode-parallax active margin-top-bottom-30">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading heading-12 margin-top5-bottom10-flat">
                    <h2><span class="left"></span>Prochain match débute dans <span class="right"></span></h2>
                </div>
                <div class="kode-fixer-counter">
                    <div id="kodeCountdown" data-date="10/01/2019"></div>
                </div>
                <div class="kode-team-match">
                    <ul>
                        <li><a href="#"><img src="extra-images/fixer-logo1.png" alt=""></a></li>
                        <li class="home-kode-vs"><a href="#" class="kode-modren-btn thbg-colortwo">vs</a></li>
                        <li><a href="#"><img src="extra-images/fixer-logo2.png" alt=""></a></li>
                    </ul>
                    <div class="clearfix"></div>
                    <span class="kode-subtitle">Cycle Racing, Hockey May 18, 2015 14:30 - 16:00 CAMBRIDGESHIRE-UK</span>
                </div>

            </div>
        </div>
    </div>
</section>