<div class="kd-pagesection project_fact_inline margin-top-bottom-30">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!--// Counter Section //-->
                <div class="kd-counter">
                    <ul class="row">
                        <li class="col-md-3">
                            <i class="fa fa-soccer-ball-o fa-3x"></i>
                            <span class="word-count">3586</span>
                            <small>League Goals</small>
                        </li>
                        <li class="col-md-3">
                            <i class="fa fa-users fa-3x"></i>
                            <span class="word-count">206</span>
                            <small>League Players</small>
                        </li>
                        <li class="col-md-3">
                            <i class="fa fa-flag fa-3x"></i>
                            <span class="word-count">356</span>
                            <small>League Teams</small>
                        </li>
                        <li class="col-md-3">
                            <i class="fa fa-trophy fa-3x"></i>
                            <span class="word-count">57</span>
                            <small>League Awards</small>
                        </li>
                    </ul>
                </div>
                <!--// Counter Section //-->
            </div>
        </div>
    </div>
</div>