{% extends 'Back/base.html.twig' %}

{% block title %}Edit Partnership{% endblock %}

{% block body %}
    <h1>Edit Partnership</h1>

    {{ include('Back/partnership/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('partnership_index') }}">back to list</a>

    {{ include('Back/partnership/_delete_form.html.twig') }}
{% endblock %}
