{% extends 'Back/base.html.twig' %}

{% block title %}{{ 'partnership.add'|trans }}{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item">
        <a href="{{ path('partnership_index') }}">{{ 'partnership.name'|trans }}</a>
    </li>
{% endblock %}

{% block body %}
    {{ include('Back/partnership/_form.html.twig', {button_name: 'Ajouter' , icon: 'plus', class: 'success'}) }}
{% endblock %}
