{% extends 'Back/base.html.twig' %}
{% block title %}Liste des articles{% endblock %}

{% block body %}
    <h1>Edit Confederation</h1>

    {{ include('back/confederation/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('confederation_index') }}">back to list</a>

    {{ include('back/confederation/_delete_form.html.twig') }}
{% endblock %}
