{% extends 'Back/base.html.twig' %}

{% block title %}{{ 'confederation.edit'|trans }}{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item">
        <a href="{{ path('confederation_index') }}">{{ 'confederation.name'|trans }}</a>
    </li>
{% endblock %}

{% block body %}
    {{ include('back/confederation/_form.html.twig', {button_name: 'Mettre à jour' , icon: 'pen', class: 'info'}) }}
{% endblock %}
