/* ThemeColor */
.thcolor,.thcolorhover:hover,.kode-section-title h2,.kode-pro-inner:hover figcaption h4 a,.next-prev-style .owl-nav div,
.kode-blog-list ul li:hover .kode-time-zoon h5 a,.kode-large-blog ul li:hover .kode-blog-btn,.children li a:before,
.kode-grid-blog .kode-blog-options li a:hover,.widget-tabnav li:hover a,.widget-tabnav li.active a,
.kode-recent-blog > ul > li:hover h6 a,.widget-recent-news ul li:hover h6 a,.widget_categories ul li:hover a,
.widget_categories ul li:hover a:before,.kode-related-blog ul li:hover h6 a,
.kode-gallery ul li:hover h2 a,.player-nav li.active a,.fixer-pagination a:hover,.next-prev-style .owl-nav div {
  color: #EA202E !important;
}

.heading-12 span.left, .heading-12 span.right, .thbg-color,.thbg-colorhover:hover,.navbar-nav > li > a:before,.owl-nav div:hover,.kode-team-network li a:hover,
.kode-team-list figure:hover figcaption h2 a,.kode-services ul li:hover .service-info,.kode-table thead,
.kode-blog-list ul li:hover .kode-time-zoon time,.kode-blog-list ul li:hover .kode-time-zoon:before,.kode-bottom-footer,
.children > li:hover > a,.pagination a:hover,.pagination span,.widget-tabnav li a:before,.widget-recent-news ul li:hover time,
.kode-table caption,.shop-btn a:hover,.fixer-btn a:hover,.kode-underconstruction .kode-innersearch form input[type="submit"] {
  background-color: #EA202E;
}
.next-prev-style .owl-nav div,
.th-bordercolor,.th-bordercolorhover:hover,.kd-headbar,.kode-section-title h2,.owl-nav div:hover,
.kode-team-list figure:hover figcaption h2 a,.next-prev-style .owl-nav div,.kode-table,
.kode-simple-form ul li input[type="submit"],.children,.kode-grid-blog .kode-blog-info:before,.kode-modrenbtn:hover,
.kode-widget-title h2,.widget-recent-news ul li:hover time,blockquote,.kode-inner-fixer,
#koderespond form p input[type="button"],#koderespond form p input[type="submit"],.kode-header-three .navbar-nav > li > a::before {
  border-color: #EA202E !important;
}
.tab-widget {
  box-shadow: 0px 2px 0px 0px #EA202E,0px 2px 0px 0px #EA202E inset;
}


.kode-admin-post:before,
.kode-result-list article:before,
.kode-testimonial figure:before,
.countdown-amount:before{
  border-top-color: #EA202E;
}
/* 2nd ThemeColor */
.thcolortwo,.thcolortwohover:hover,.kode-medium-blog >ul >li:hover h5 a,.kode-medium-blog .kode-blog-options li a:hover {
  color: #04275F;
}
.subheader-height:after{
  border-bottom-color: #EA202E;
}
.subheader-height:before{
  background: #EA202E;
}
.kode-subheader{
  background:#04275F;
}
.thbg-colortwo,.thbg-colortwohover:hover,#mainbanner .flex-control-paging li a.flex-active,.kode-pro-inner:hover .kode-pro-info,
.kode-medium-blog >ul >li:hover .medium-info time, .kode-caption h1{
  background-color: #04275F;
}
.kode-caption h1:before, .kode-caption h1:after{
  border-bottom-color: #04275F;
}

.kode-modren-btn, .th-bordertwocolor,.th-bordercolortwohover:hover,.kode-medium-blog,.kode-medium-blog >ul >li:hover .medium-info time,
.kode-loginform p input[type="submit"] {
  border-color: #04275F;
}