<form method="post" action="{{ path('season_competition_delete', {'id': season_competition.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ season_competition.id) }}">
    <button class="btn">Delete</button>
</form>
