{% extends 'Back/base.html.twig' %}

{% block title %}{{ 'season.edit'|trans }}{% endblock %}

{% block style %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.css">
{% endblock %}


{% block body %}

    {{ include('back/season_competition/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('season_competition_index') }}">back to list</a>

    {{ include('back/season_competition/_delete_form.html.twig') }}
{% endblock %}
{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.js"></script>
    <script>
        $(document).ready(function() {
            $('#season_competition_teams').selectize({
                maxItems: 30
            });
        });
    </script>
{% endblock %}