{% extends 'Back/base.html.twig' %}

{% block title %}{{ 'season.edit'|trans }}{% endblock %}

{% block body %}

    {{ include('back/season_competition/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('season_competition_index') }}">back to list</a>

    {{ include('back/season_competition/_delete_form.html.twig') }}
{% endblock %}
