{% extends 'Back/base.html.twig' %}

{% block title %}Edit Team{% endblock %}

{% block body %}
    <h1>Edit Team</h1>

    {{ include('Back/team/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('team_index') }}">{{ 'back_list'|trans }}</a>

    {{ include('Back/team/_delete_form.html.twig') }}
{% endblock %}
