{% extends 'Back/base.html.twig' %}

{% block title %}{{ 'team.edit'|trans }}{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item">
        <a href="{{ path('team_index') }}">{{ 'team.name'|trans }}</a>
    </li>
{% endblock %}

{% block body %}

    {{ include('Back/team/_form.html.twig', {button_name: 'Mettre à jour' , icon: 'pen', class: 'info'}) }}

{% endblock %}
