{% extends 'Back/base.html.twig' %}
{% block title %}New Configuration{% endblock %}

{% block body %}
    <h1>Create new Configuration</h1>

    {{ include('Back/configuration/_form.html.twig') }}

    <a href="{{ path('configuration_index') }}">back to list</a>
{% endblock %}
