{% extends 'Back/base.html.twig' %}

{% block title %}{{ 'competition.edit'|trans }}{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item">
        <a href="{{ path('competition_index') }}">{{ 'competition.name'|trans }}</a>
    </li>
{% endblock %}

{% block body %}

    {{ include('back/competition/_form.html.twig', {button_name: 'Mettre à jour' , icon: 'pen', class: 'info'}) }}

{% endblock %}
