{% extends 'Back/base.html.twig' %}

{% block title %}{{ 'competition.add'|trans }}{% endblock %}

{% block body %}

    {{ include('back/competition/_form.html.twig') }}

    <a href="{{ path('competition_index') }}">back to list</a>
{% endblock %}
