{{ form_start(form) }}
    {{ form_widget(form) }}
<input type="hidden" id="widgets-counter" value="0">
<button type="button" id="add-club" class="btn btn-primary">
    <i class="fas fa-plus"></i>
    Ajouter un club
</button>

{{ form_end(form) }}



