{% extends 'Back/base.html.twig' %}

{% block title %}Stadium {% endblock %}

{% block body %}
    <h1>Edit Stadium</h1>

    {{ include('back/stadium/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('stadium_index') }}">back to list</a>

    {{ include('back/stadium/_delete_form.html.twig') }}
{% endblock %}
