{% extends 'base.html.twig' %}

{% block title %}Edit Tag{% endblock %}

{% block body %}
    <h1>Edit Tag</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn">Enregistrer</button>
    {{ form_end(form) }}

    <a href="{{ path('tag_index') }}">back to list</a>
{% endblock %}
