{% extends 'Back/base.html.twig' %}
{% block title %}{{ 'gallery.add'|trans }}{% endblock %}

{% block body %}
    <h1>Create new GalleryImage</h1>

    {{ include('back/gallery_image/_form.html.twig') }}

    <a href="{{ path('gallery_image_index') }}">back to list</a>
{% endblock %}
