<div class="container">
    <h1>L'accès à cette page est interdit !</h1>
    <div class="alert alert-danger">
        <p>Vous n'avez pas le droit d'accéder à cette ressource ! Vous pouvez retourner à l'accueil.</p>
    </div>
    <a href="{{ path('homepage') }}" class="btn btn-primary">Retour à l'accueil</a>
</div>
