{% extends "base.html.twig" %}

{% block title %}Administration{% endblock %}

{% block body %}
    Bienvenue sur le panel d'administration ! <br>
    <br>
    <a href="{{ path('app_back_article_index') }}">Liste des articles</a><br>
    <a href="{{ path('tag_index') }}">Liste des tags</a><br>
    <a href="{{ path('category_index') }}">Liste des catégories</a><br>
    <a href="{{ path('player_index') }}">Liste des joueurs</a>
{% endblock %}