{% extends 'Back/base.html.twig' %}

{% block title %}{{ 'clubteam.edit'|trans }}{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item">
        <a href="{{ path('club_team_index') }}">{{ 'clubteam.name'|trans }}</a>
    </li>
{% endblock %}

{% block body %}

    {{ include('Back/club_team/_form.html.twig' , {button_name: 'Mettre à jour' , icon: 'pen', class: 'info'}) }}

{% endblock %}
