{% extends 'Back/base.html.twig' %}

{% block title %}New Menu{% endblock %}

{% block body %}
    <h1>Create new Menu</h1>

    {{ include('back/menu/_form.html.twig') }}

    <a href="{{ path('menu_index') }}">{{ 'back_list'|trans }}</a>
{% endblock %}
