{% extends 'Front/base.html.twig' %}

{% block title %}
    Inscription
{% endblock %}

{% block body %}
    <div class="kode-subheader subheader-height">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1>Inscription</h1>
                </div>
                <div class="col-md-6">
                    <ul class="kode-breadcrumb">
                        <li><a href="#">Accueil</a></li>
                        <li><a href="#">Inscription</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <h1>Inscrivez vous sur notre site</h1>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-success">S'inscrire</button>
        {{ form_end(form) }}
    </div>
{% endblock %}